/*common elements*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav div {
 padding-left: 5vh !important;
}

footer {
  font-size: .75rem;
  display: flex;
  background-color: #198754;
  color: white;
  justify-content: center;
  align-self: stretch;
}

footer p {
  text-align: center;
  padding: 5px;
  margin: 0;
}

main {
  min-height: 82.5vh;
  padding: 5vh;
  background-color: #e1e1e1;
  flex-grow: 1;
  /*text-align:justify;*/

}

/*index*/
#wrappedImg {
  margin: 1% 2%;
}

#footnote {
  font-size: 80%;
}

#carouselContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.carousel-control-prev, .carousel-control-next {
  color: red;
}

.carousel-caption {
  color: white;
  text-shadow: 1px 1px red;
}

#image-container img {
  margin: 1vw auto;
}

/*interesting facts*/

.accordion-button {
  color: white !important;
}

.accordion-item h2 {
  color: white;
}

.panel-default > .panel-heading {
  background-color:red;
}

p span {
  font-size:50px;
}

/*History*/
.timeline {
  display: flex;
  flex-direction:column;
  margin-top: 30px;
}

.containerTimeline {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
}

.verticalLine {
  border: 5px solid #198754;
  background-color: #198754;
  margin: 10px 5px;
}

.content-Timeline {
  padding: 1rem;
  margin-top: -2.6rem;
}

.seed {
 width: 20px;
 height: 20px;
 border: 2px solid #198754;
 background-color: #198754;
 
}

.seedContainer {
  display: flex;
  flex-direction: row;
}

/*gameplay*/

.list-group-item {
  background-color: #e1e1e1;
  border: none;
}

#johnsonVideo {
  display: flex;
  width: 60vw;
  height: 40vw;
  margin: 0 auto;
}

.form-group {
  display: inline-grid;
  margin-bottom: -40px;
}

.carousel-item {
  transition: transform 3s ease-in-out;
}

.badge {
  font-size: 15px;
  background-color: #198754;
}

/* Animation */
h1,.animated-text {
  color: #198754; 
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: animtext 4s steps(80, end); 
  transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
@keyframes animtext { 
  from {
    width: 0;
    transition: all 2s ease-in-out;
  } 
}

h1 span {
  transition: 0.5s ease-in-out;
}
h1:hover span:nth-child(2) {
  margin-left: 10px;
  transition: all 0.5s tada;
}
h1:hover span {
  color: #198754;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

/* Logo tada infinite animation */
.logo {
  position: relative;
  width: 200px ;
  height: 50%;
  margin: 0 auto;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated:hover {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

